<!DOCTYPE html>
<html>
<head>
	<title>Ninjas</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<img type="text/javascript" src='{{ url_for('static', filename='blue.jpg') }}'>
	<img type="text/javascript" src='{{ url_for('static', filename='orange.png') }}'>
	<img type="text/javascript" src='{{ url_for('static', filename='red.jpg') }}'>
	<img type="text/javascript" src='{{ url_for('static', filename='purple.jpg') }}'>
</body>
</html>